<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="description" content="Service to generate JSON api for easier front-end development">
    <meta name="keywords" content="REST json front-end">
    <meta name="author" content="Matthias Gamsjager">
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 my-4 ">
          <h1 class="display-3 text-center">To the RESTcue</h1>
        <small>This service helps front-end developers to quickly generate a REST api endpoint which serves a simple json. This can be 
        used in frontend development to test fetch logic and use this as mock data.
        
        </small>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4">
            <form action="/api/json" method="post">
                <div class="input-group">
                    <textarea class="p-a-md" name="json" id="" cols="50" rows="10"></textarea>
                </div>
                <br>
                <button  class="btn btn-primary btn-lg" role="button">Create JSON</button>
            </form>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-4">
            <small class="text-muted">Front-end developers rescued: <%= items%></small>
        </div>
    </div>
</div>

<script>
    var placeHolder = {name: "Tommy", age: 23, employed: true};
    var formatted = JSON.stringify(placeHolder, null, 4 );
    document.querySelector('textarea').innerHTML = formatted;
    document.querySelector('textarea').setAttribute('placeholder', formatted);

</script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-65621601-3', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>
