<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form action="/api/json" method="post">
      <textarea name="json" id="" cols="30" rows="10"></textarea>
    <button  role="button">Create JSON</button>

    </form>
  </body>
</html>
